.header {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    width          : 100%;
    margin-bottom  : 90px;
    border-bottom  : 1px solid #DADADA;
    /* box-shadow     : 0px 6px 15px #F4F4F4; */
}

.title {
    font-style    : 400;
    font-weight   : 300;
    font-size     : 28px;
    text-transform: uppercase;
    color         : #3C3C3C;
}

.title:first-letter {
    color: #FF6161;
}