.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 90px;
    border-bottom: 1px solid #dadada
}

.title {
    font-style: 400;
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
    color: #3c3c3c
}

.title:first-letter {
    color: #ff6161
}

.imgWrap {
    overflow: hidden;
    width: 100%;
    height: 360px;
    margin: 20px 0;
    background: #dadada;
    background-position: bottom center;
    border-radius: 5px;
    box-shadow: 0 4px 10px #e7e7e7
}

.img {
    width: 100%
}