.menu {
    /* display       : flex; */
    /* flex-direction: column; */
    position         : relative;
    z-index          : 100;
}

.menuInline {
    display       : flex;
    flex-direction: row;
}