.post {
    display       : flex;
    flex-direction: row;
    margin-top    : 50px;
}

.wrapTitle {
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    align-items    : center;
    margin-bottom  : 40px;
}

.content::before {
    content      : '';
    display      : block;
    margin-bottom: 40px;
    height       : 1px;
    border-bottom: 1px solid #DADADA;
}

.title {
    /* font-family   : Montserrat; */
    font-style       : normal;
    font-weight      : 500;
    font-size        : 36px;
}

.content {
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 32px;
    color      : #525252;
    overflow   : hidden;
}

img,
video {
    margin   : 10px;
    max-width: 100%;
    float    : left;
}