.fileDownload {
    display       : flex;
    flex-direction: row;
    position      : absolute;
    left          : 0;
    top           : 0;
    width         : calc(100% - 40px);
    height        : calc(100% - 40px);
    margin        : 20px;
    background    : #292929;
    opacity       : 0.93;
}

.left,
.rigth {
    padding: 30px 28px;
}

.left {
    width: 35%;
}

.rigth {
    width: 65%;
}

.inputWrap:hover {
    background: rgb(128, 128, 128);
}

.title {
    font-size    : 18px;
    color        : white;
    font-weight  : normal;
    margin-bottom: 16px;
}

.itemList {
    display  : flex;
    flex-flow: row wrap;
}