.fileDownload {
    display       : flex;
    flex-direction: row;
    background    : #656565;
}

.left,
.rigth {
    padding: 30px 28px;
}

.left {
    width: 35%;
}

.rigth {
    width: 65%;
}

.inputWrap:hover {
    background: rgb(128, 128, 128);
}

.title {
    font-size    : 18px;
    color        : white;
    font-weight  : normal;
    margin-bottom: 16px;
}

.itemList {
    display  : flex;
    flex-flow: row wrap;
}