.arrowUp, .arrowDown {
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    outline: none;
}

.arrowUp {
    background-image: url('./img/arrow_up.png');
}

.arrowDown {
    background-image: url('./img/arrow_down.png');
}

.arrowUp:hover, .arrowDown:hover {
    /* display: none; */
    transform: scale(1.2);
    transition: transform 0.1s;
}