.main {
    /* background   : #F8F7FF; */
    min-height      : 100vh;
    /* padding      : 0 50px 0 10px; */
    max-width       : 1600px;
    margin          : 0 auto;
    padding         : 0 30px;
    background-color: white;
}

.wrap {
    display       : flex;
    flex-direction: row;
}

* {
    font-family: 'Roboto', sans-serif;
}

table {
    border-spacing: 0;
    border-left   : 1px solid #bebebe;
    border-top    : 1px solid #bebebe;
}

thead {
    font-weight: bold;
}

td {
    padding       : 8px;
    border-right  : 1px solid #bebebe;
    border-bottom : 1px solid #bebebe;
    font-size     : 16px;
    vertical-align: top;
}