.item {
    display       : flex;
    flex-direction: row;
    height        : 50px;
    margin        : 5px 10px 5px 0;
}

.item_line {
    flex-direction: column;
    max-width     : 200px;
    min-width     : 200px;
    margin        : 0 0 0 10px;
}


.sub .item_line {
    flex-direction: row;
}

/*Hover item*/

.item:hover>.sub {
    display: block;
}

.item:hover>.sub .link:hover {
    background: rgb(139, 125, 204);
}

.item_line:hover>.sub {
    /* display       : flex; */
    flex-direction   : column;
}


/*End hover item*/


/*link*/

.link {
    min-width      : 270px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding        : 14px 30px;
    text-decoration: none;
    color          : #F8F8F8;
    background     : #8376BB;
    border-radius  : 4px;
    transition     : transform 0.2s;

}

.link:hover {
    background: rgb(108, 96, 161);
    transform : translateX(5px);
    transition: transform 0.1s;
}


.link_line {
    min-width: auto;
    max-width: 200px;
    min-width: 200px;
}

/*End link*/


.sub {
    display: none;
}

.item_line .sub {
    flex-direction: column;
}

/*for items of submenu*/

.sub .item {
    height : calc(50px + 5px);
    margin : 0;
    padding: 0 0 5px 6px;
}

.item_line .sub .item {
    padding: 4px 0 0 0;
}

/*End for items of submenu*/



.sub .item .link {
    background: #635896;
}