.item {
    display       : flex;
    flex-direction: row;
    height        : 55px;
    margin        : -1px 10px -1px 0;
}

.item_line {
    flex-direction: column;
    min-width     : 200px;
    max-width     : 200px;
    margin        : 0 0 0 10px;
}

.item_line a {
    min-width: 200px;
}

.sub .item_line {
    flex-direction: row;
    padding       : 0;
}

/*Hover item*/

.item:hover>.sub {
    display: block;
}

.item:hover>.sub .link:hover {
    /* background: rgb(139, 125, 204); */
}

.item_line:hover>.sub {
    /* display       : flex; */
    flex-direction   : column;
}


/*End hover item*/


/*link*/

.link {
    min-width      : 300px;
    width: 300px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    padding        : 8px 20px;
    text-decoration: none;
    color          : #737373;
    border         : 1px solid #DDDDDD;
    background     : #FFFFFF;
}




.link_line {
    flex-direction : column;
    justify-content: flex-start;
    align-items    : center;
    min-width      : auto;
    width          : 100%;
    /* max-width   : 200px; */
    /* min-width   : 200px; */
    border         : none;
}

.link_line:hover {
    transform: none;
}

/*End link*/


.sub {
    display: none;
}

.item_line .sub {
    flex-direction: column;
}

/*for items of submenu*/

.sub .item {
    height      : 55px;
    margin      : 0 0 -1px -1px;
    padding-left: 6px;
}

.item_line .sub .item {
    padding: 4px 0 0 0;
    /* border : 1px solid #DDDDDD; */
}

/*End for items of submenu*/

.btnPanel {
    min-width: 90px;
    max-width: 90px;
}