.title {
    font-size    : 18px;
    color        : white;
    font-weight  : normal;
    margin-bottom: 16px;
}

.inputWrap {
    margin-bottom: 30px;
    padding      : 15px;
    border       : 1px solid #888888;
    border-radius: 3px;
}

.formDownload {
    color : white;
    cursor: pointer;
}

.lineDownload {
    width     : 100%;
    height    : 20px;
    margin    : 15px 0;
    background: white;
}

.lineDownload_progress {
    height    : 100%;
    background: #45cac5;
}

.btnDownload {
    width        : 120px;
    height       : 35px;
    margin-top   : 10px;
    padding-left : 40px;
    background   : #F25454 url('../../../img/upload.svg') 4% center/20% no-repeat;
    border       : none;
    border-radius: 3px;
    text-align   : left;
    color        : white;
    outline      : none;
    cursor       : pointer;
}

.btnDownload:hover {
    background-color: #b43333;
}