.page {
    width        : calc(100% - 350px);
    min-height   : 100vh;
    /* margin-left  : auto; */
    padding      : 0 80px 55px 80px;
    background   : #FFF;
    border-radius: 3px;
}

.title {
    margin-bottom: 80px;
    font-style   : normal;
    font-weight  : 500;
    font-size    : 46px;
    color        : #525252;
}